[build-system]
requires = [
    "setuptools>=61.0",
    "setuptools_scm[toml]>=8.0",
]
build-backend = "setuptools.build_meta"

[project]
name = "toika_loom_server"
dynamic = ["version"]
description = "Web server that drives a Toika dobby loom"
readme = "README.md"
dependencies = [
  "base_loom_server >= 0.1",
  "dtx_to_wif >= 3.0",
  "fastapi >= 0.115",
  "pyserial-asyncio >= 0.6",
]
authors = [
  { name="Russell Owen", email="r3owen@gmail.com" },
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
requires-python = ">=3.11"

[project.optional-dependencies]
dev = [
  "pre-commit >= 3.8",
  "pytest >= 8.3",
  "pytest-asyncio >= 0.24",
]

# Needed due to including package data below
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"toika_loom_server" = [
  "py.typed",
  "display.css",
  "display.html_template",
  "display.js",
  "favicon-32x32.png"
]

[project.scripts]
run_toika_loom = "toika_loom_server.main:run_toika_loom"

[project.urls]
Homepage = "https://github.com/r-owen/toika_loom_server"
Issues = "https://github.com/r-owen/toika_loom_server/issues"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.isort]
profile = "black"

[tool.setuptools_scm]
write_to = "src/toika_loom_server/version.py"
write_to_template = """
# Generated by setuptools_scm
__all__ = ["__version__"]
__version__ = "{version}"
"""
